.card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 50%;
    margin-bottom: 32px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    background-color: #32312d90;
}