.listContainer {
    display: flex;
    flex-direction: column;
    height: 55%;
    margin: 16px;
    overflow: scroll;
}

.feedbackContainer {
    margin-top: 8px;
    margin-bottom: 8px;
    color: white;
}